.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.containers{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
h2{
    text-align: center;
}
.row{
    padding-left: 8px;
    padding-right: 8px;
    flex-direction: row;
}
.radio{
    text-align: center;
    padding: 20px;
}
button{
    font-size: 33px;
    cursor:pointer;
    background-color: #fffc00;
    padding: 6px 4px 6px 4px;
    border:3px solid black;
    border-radius: 40% 40% 40% 40%;
}
.message_erreur{
    color: black;
    line-height: 2rem;
    background-color: #a32424;
    padding: 5px 20px 5px 20px;
}

/*TABLEAU DE JEUX*/
#board{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
    justify-content: center;
    align-items: center;
}
.card{
    flex-basis: 20%;
    padding-left: 8px;
    padding-right: 10px;
    padding-bottom: 8px;
    padding-top: 8px;
    width: 250px;
    height: 250px;
    border: 1px solid black;
    cursor:pointer;
    background-color: lightblue;
    z-index:7;
}
img{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in;
    width: 250px;
    height: 250px;
}